<div class="image-package">
    {% load static %}
    <div class="image-container" style="max-width: 500px; max-height: 377px; background-color: transparent;">
        <div class="image-container-fill" style="padding-bottom: 75.4%;"></div>
        <div class="image-view" data-width="500" data-height="377">
            <img data-original-width="500" data-original-height="377"
                 data-original-format="image/jpeg" data-original-filesize="27968" class=""
                 style="cursor: zoom-in;"
                 src="{% static 'img/9570250-868892a77ea2d97e' %}"></div>
    </div>
    <div class="image-caption">图/网络</div>
</div>