
<div class="copyright">
  <p style="text-align:center;">
	 {loop type="domain"}<a href="{$vo.url}" target="_blank">{$vo.title}</a>{/loop}
		  {if $links_open}
	   {loop type="link"}
      <a href="{$vo.url}" target="_blank">{$vo.title}</a>
	   {/loop}
	   {/if}
  </p>
  <p style="white-space:normal;text-align:center;"> Copyright &copy; 2017 Powered by {$title} {$web_beian}  </p>
  <p style="white-space:normal;text-align:center;"> 地址：{联系地址}  电话：{联系电话} </p>
  <p> <br />
  </p>
  <p style="text-align:center;"> <span style="white-space:normal;"><span style="white-space:normal;"></span><span style="white-space:normal;"></span></span> </p>
</div>
{分享代码}
{百度推送代码}